.link {
    text-decoration: none;
}

.li {
   list-style: none; 
   display: flex;
    flex-flow: row;
    color: #8585AD;
    align-items: center;
}

.active {
    color: #F2F2F3;
}

.button {
    background-color: transparent;
    border: 0 transparent;
}