.header {
    background-color: #1C1C21;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.header>* {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.active {
    color: #F2F2F3;
}